$primary: #00ADB5;

@import "../../node_modules/bootstrap/scss/bootstrap";

.custom-title{
    font-family: 'Lora', serif;
}
.custom-text{
    font-family: 'Open Sans', sans-serif; color: #393E46;
}
.card-hover {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}
  
  .card-hover:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

#card1{
    border: $primary;
}

#publicationForm{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

